Repository bepuca/azureml-scaffolding: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, md

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: shellcheck
    name: Lint Bash
    entry: bin/lint/shell
    args: [check]
    language: script
    files: ^.*\.sh|^bin/
    exclude: ^.*\.yaml
  - id: python
    name: Lint Python
    entry: bin/lint/py
    language: python
  - id: md
    name: Lint Markdown
    entry: bin/lint/md
    args: [--fix]
    language: script
    types: [ text , markdown ]

More robust environment loading
  bin/env
Due: shellcheck

Fix potential infinite loop in shell lint script (#20)
  bin/lint/shell
Due: shellcheck

Check "git" requirements before shell linting (#21)
  bin/lint/shell
Due: shellcheck

More robust environment loading (#22)
  bin/env
Due: shellcheck

Fix env files
  .env
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none

Fix .env file
  .env
Due: none

implement experiment
  bin/pkg/aml
  bin/utils/lib.sh
  bin/utils/prep-exp
Due: shellcheck

Experiment
  bin/pipe/aml
  bin/pkg/aml
Due: shellcheck

Remove unused
  bin/exp/clean
  bin/exp/prep
Due: shellcheck

Create libs for local
  bin/pipe/local
  bin/pkg/local
  bin/pkg/name
  bin/utils/local.sh
  bin/utils/run.sh
Due: shellcheck

Clean up aml scripts
  bin/pipe/aml
  bin/pkg/aml
  bin/pkg/exp
  bin/utils/_aml
Due: shellcheck

Add invalid usage util
  bin/utils/utils.sh
Due: shellcheck

Clean up utils
  bin/pipe/local
  bin/pkg/local
  bin/utils/_aml
  bin/utils/_prep-exp
  bin/utils/lib.sh
  bin/utils/local.sh
  bin/utils/run.sh
  bin/utils/utils.sh
Due: shellcheck

Rename utils to lib
  .gitignore
  bin/lib/_aml
  bin/lib/_prep-exp
  bin/lib/run.sh
  bin/lib/utils.sh
  bin/pipe/aml
  bin/pipe/local
  bin/pkg/aml
  bin/pkg/local
Due: shellcheck

Cleanup docs
  bin/chkenv
  bin/data/download
  bin/data/find
  bin/data/list
  bin/data/register
  bin/lib/_prep-exp
  bin/lint/md
  bin/lint/py
  bin/lint/shell
  bin/pipe/iso
  bin/pipe/local
  bin/pipe/new
  bin/pkg/iso
  bin/pkg/local
  bin/pkg/new
  bin/pkg/rm
Due: shellcheck

Update bin help to show public only
  bin/help
Due: shellcheck

Make iso private
  bin/lib/_aml
  bin/pipe/_iso
  bin/pipe/local
  bin/pkg/_iso
  bin/pkg/local
Due: shellcheck

Doc packages and pipelins
  README.md
Due: md

Fix check of env vars too early
  bin/pipe/new
Due: shellcheck

pkgs and pipes in readme
  README.md
Due: md

Add data in README
  README.md
Due: md

Minor docs in README
  README.md
Due: md

Clarification about pipelines
  README.md
Due: md

Add help to missing scripts
  bin/dev/sync
  bin/dev/test
Due: shellcheck

Document lint and devex
  README.md
Due: md

Remove dotenv
  pyproject.toml
Due: none

Add reference to env file
  README.md
Due: md

Remove duplicated section
  README.md
Due: md

Clarification on devcontainer
  README.md
Due: md

Refer to bin/env help
  README.md
Due: md

Move section on why AML
  README.md
Due: md

Improve design principles section
  README.md
Due: md

Fix typos
  README.md
Due: md
