Repository bepuca/azureml-scaffolding: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, md

shellcheck:
  name: Lint Bash
  entry: bin/lint/shell
  args:
  - check
  language: script

md:
  name: Lint Markdown
  entry: bin/lint/md
  args:
  - --fix
  language: script

Rename experiments to packages
  .experiment_template/README.md
  .experiment_template/src/debug_template.py
  .gitignore
  .package-template/README.md
  .package-template/pyproject.toml
  .package-template/src/.amlignore
  .package-template/src/azure-ml-job.yaml
  .package-template/src/package_template/__init__.py
  .package-template/src/package_template/main.py
  .package-template/src/tests/test_main.py
  .pre-commit-config.yaml
  bin/exp/new
  bin/exp/rm
  bin/lint/py
  container.env
  experiments/example_experiment/README.md
  experiments/example_experiment/src/debug_template.py
  experiments/example_experiment/src/example_experiment/__init__.py
  experiments/shared/README.md
  packages/example/README.md
  packages/example/pyproject.toml
  packages/example/src/.amlignore
  packages/example/src/azure-ml-job.yaml
  packages/example/src/environment/Dockerfile
  packages/example/src/example/__init__.py
  packages/example/src/example/main.py
  packages/example/src/tests/test_main.py
  packages/shared/README.md
  packages/shared/pyproject.toml
  packages/shared/src/shared/__init__.py
  packages/shared/src/shared/logging/azureml_logger.py
  pyproject.toml
  uv.lock
Due: shellcheck, md

Use __main__
  .package-template/pyproject.toml
  .package-template/src/package_template/__main__.py
  .package-template/src/package_template/answer.py
  .package-template/src/tests/test_answer.py
  bin/exp/new
  packages/example/pyproject.toml
  packages/example/src/example/__main__.py
  packages/example/src/example/answer.py
  packages/example/src/tests/test_answer.py
Due: shellcheck

Bump uv and update local
  Dockerfile
  bin/exp/local
  bin/exp/pkg
Due: shellcheck

Update settings
  .vscode/settings.json
Due: none

Ruff find first party pkgs
  .package-template/src/package_template/__main__.py
  packages/example/src/example/__main__.py
  pyproject.toml
Due: none

yaml job point to package __main__
  .package-template/src/azure-ml-job.yaml
  packages/example/src/azure-ml-job.yaml
Due: none

Update .amlignore and VSCode settings to improve file ignore patterns
  .package-template/src/.amlignore
  .vscode/settings.json
Due: none

Change folder structure to match packages
  bin/exp/local
  bin/exp/pkg
  packages/example/.amlignore
  packages/example/azure-ml-job.yaml
  packages/example/environment/Dockerfile
  packages/example/tests/test_answer.py
  packages/shared/tests/__init__.py
Due: shellcheck

Bump uv
  Dockerfile
Due: none

Helpful error for chkenv
  bin/chkenv
Due: shellcheck

new exp to new structure
  bin/exp/new
Due: shellcheck

Update template
  .package-template/.amlignore
  .package-template/azure-ml-job.yaml
  .package-template/src/package_template/__main__.py
  .package-template/src/package_template/answer.py
  .package-template/tests/test_answer.py
Due: none

Update pkg
  packages/example/.amlignore
  packages/example/environment/Dockerfile
Due: none

Update lock
  uv.lock
Due: none

Rename exp to pkg
  CONTRIBUTING.md
  README.md
  bin/pkg/aml
  bin/pkg/iso
  bin/pkg/local
  bin/pkg/name
  bin/pkg/new
  bin/pkg/rm
Due: shellcheck, md

Change datetime for iso in aml
  bin/pkg/aml
Due: shellcheck

Ensure git files works
  bin/pkg/new
Due: shellcheck

Dirty but pipeline work
  bin/pipe/aml
  bin/pipe/iso
  bin/pipe/local
  packages/stepa/.amlignore
  packages/stepa/README.md
  packages/stepa/component.yaml
  packages/stepa/environment/Dockerfile
  packages/stepa/pyproject.toml
  packages/stepa/src/stepa/__init__.py
  packages/stepa/src/stepa/__main__.py
  packages/stepb/.amlignore
  packages/stepb/README.md
  packages/stepb/component.yaml
  packages/stepb/environment/Dockerfile
  packages/stepb/pyproject.toml
  packages/stepb/src/stepb/__init__.py
  packages/stepb/src/stepb/__main__.py
  pipelines/example_pipeline/azure-ml-pipeline.yaml
  pyproject.toml
Due: shellcheck, md

Create pipeline template artifacts
  .devcontainer/devcontainer.json
  .pipeline-template/example-pipeline.yaml
  .pipeline-template/reader-step/__main__.py
  .pipeline-template/reader-step/aml-component.yaml
  .pipeline-template/writer-step/__main__.py
  .pipeline-template/writer-step/aml-component.yaml
  packages/example/azure-ml-job.yaml
  packages/stepa/.amlignore
  packages/stepa/README.md
  packages/stepa/environment/Dockerfile
  packages/stepa/pyproject.toml
  packages/stepa/src/stepa/__init__.py
  packages/stepb/.amlignore
  packages/stepb/README.md
  packages/stepb/environment/Dockerfile
  packages/stepb/pyproject.toml
  packages/stepb/src/stepb/__init__.py
  pipelines/example_pipeline/azure-ml-pipeline.yaml
  pyproject.toml
Due: md

Pipeline example in
  .pipeline-template/pipeline-template.yaml
  bin/pipe/aml
  bin/pipe/iso
  bin/pipe/new
  packages/reader-step/.amlignore
  packages/reader-step/README.md
  packages/reader-step/aml-component.yaml
  packages/reader-step/azure-ml-job.yaml
  packages/reader-step/environment/Dockerfile
  packages/reader-step/pyproject.toml
  packages/reader-step/src/reader_step/__init__.py
  packages/reader-step/src/reader_step/__main__.py
  packages/reader-step/src/reader_step/answer.py
  packages/reader-step/tests/test_answer.py
  packages/writer-step/.amlignore
  packages/writer-step/README.md
  packages/writer-step/aml-component.yaml
  packages/writer-step/azure-ml-job.yaml
  packages/writer-step/environment/Dockerfile
  packages/writer-step/pyproject.toml
  packages/writer-step/src/writer_step/__init__.py
  packages/writer-step/src/writer_step/__main__.py
  packages/writer-step/src/writer_step/answer.py
  packages/writer-step/tests/test_answer.py
  pipelines/example-pipeline.yaml
  pyproject.toml
  uv.lock
Due: shellcheck, md

Pipeline cleanup
  .pipeline-template/example-reader-step/__main__.py
  .pipeline-template/example-reader-step/aml-component.yaml
  .pipeline-template/example-writer-step/__main__.py
  .pipeline-template/example-writer-step/aml-component.yaml
  .pipeline-template/pipeline-template.yaml
  CONTRIBUTING.md
  bin/pipe/aml
  bin/pipe/local
  bin/pipe/new
  bin/pkg/local
  packages/example-reader-step/.amlignore
  packages/example-reader-step/README.md
  packages/example-reader-step/aml-component.yaml
  packages/example-reader-step/azure-ml-job.yaml
  packages/example-reader-step/environment/Dockerfile
  packages/example-reader-step/pyproject.toml
  packages/example-reader-step/src/example_reader_step/__init__.py
  packages/example-reader-step/src/example_reader_step/__main__.py
  packages/example-reader-step/src/example_reader_step/answer.py
  packages/example-reader-step/tests/test_answer.py
  packages/example-writer-step/.amlignore
  packages/example-writer-step/README.md
  packages/example-writer-step/aml-component.yaml
  packages/example-writer-step/azure-ml-job.yaml
  packages/example-writer-step/environment/Dockerfile
  packages/example-writer-step/pyproject.toml
  packages/example-writer-step/src/example_writer_step/__init__.py
  packages/example-writer-step/src/example_writer_step/__main__.py
  packages/example-writer-step/src/example_writer_step/answer.py
  packages/example-writer-step/tests/test_answer.py
  pipelines/example-pipeline.yaml
  pyproject.toml
  uv.lock
Due: shellcheck, md

READMEs too long lines
  .markdownlint-cli2.jsonc
  .package-template/README.md
  CONTRIBUTING.md
  packages/example-reader-step/README.md
  packages/example-writer-step/README.md
Due: md

Fix len line contributing
  CONTRIBUTING.md
Due: md

Remove redundant files from steps
  bin/pipe/new
  packages/example-reader-step/azure-ml-job.yaml
  packages/example-reader-step/src/example_reader_step/answer.py
  packages/example-reader-step/tests/test_answer.py
  packages/example-writer-step/azure-ml-job.yaml
  packages/example-writer-step/src/example_writer_step/answer.py
  packages/example-writer-step/tests/test_answer.py
Due: shellcheck

Introduce package exp
  bin/dev/prep-exp
  bin/exp/clean
  bin/exp/prep
  bin/pkg/aml
  bin/pkg/exp
  container.env
Due: shellcheck

Add echo
  bin/dev/prep-exp
  bin/pkg/aml
  bin/pkg/exp
Due: shellcheck

Improve help
  bin/chkenv
  bin/data/download
  bin/data/find
  bin/data/list
  bin/data/register
  bin/dev/sync
  bin/dev/test
  bin/env
  bin/help
  bin/lint/md
  bin/lint/py
  bin/lint/shell
  bin/pipe/aml
  bin/pipe/iso
  bin/pipe/local
  bin/pipe/new
  bin/pkg/aml
  bin/pkg/iso
  bin/pkg/local
  bin/pkg/name
  bin/pkg/new
  bin/pkg/rm
Due: shellcheck

Remove unused counter in `bin/chkenv`
  bin/chkenv
Due: shellcheck

Default "cprint" arg
  bin/help
Due: shellcheck

Allow space between "#" and "?" for auto-formatters
  bin/help
Due: shellcheck

Lift default group into const
  bin/help
Due: shellcheck

Add lib.sh to remove dups
  bin/dev/prep-exp
  bin/exp/prep
  bin/lib.sh
  bin/pipe/aml
  bin/pipe/local
  bin/pkg/aml
  bin/pkg/exp
  bin/pkg/local
Due: shellcheck

Remove unused counter in `bin/chkenv` (#19)
  bin/chkenv
Due: shellcheck

Add example under BNF grammar
  bin/help
Due: shellcheck

Show commands in cyan
  bin/help
Due: shellcheck

Use named groups
  bin/help
Due: shellcheck

Improve grouping of commands in help display (#18)
  bin/chkenv
  bin/data/download
  bin/data/find
  bin/data/list
  bin/data/register
  bin/dev/sync
  bin/dev/test
  bin/env
  bin/help
  bin/lint/md
  bin/lint/py
  bin/lint/shell
  bin/pipe/aml
  bin/pipe/iso
  bin/pipe/local
  bin/pipe/new
  bin/pkg/aml
  bin/pkg/iso
  bin/pkg/local
  bin/pkg/name
  bin/pkg/new
  bin/pkg/rm
Due: shellcheck

Fix potential infinite loop in shell lint script
  bin/lint/shell
Due: shellcheck

Check "git" requirements before shell linting
  bin/lint/shell
Due: shellcheck

Path conditions:
  shellcheck: any of: ^.*\.sh|^bin/, but not: ^.*\.yaml
  md: any of: \.(md|markdown|mdown)$
