Repository bepuca/azureml-scaffolding: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, python, md

shellcheck:
  name: Lint Bash
  entry: bin/lint/shell
  args:
  - check
  language: script

python:
  name: Lint Python
  entry: bin/lint/py
  language: system

md:
  name: Lint Markdown
  entry: bin/lint/md
  args:
  - --fix
  language: script

Finish installation guide
  README.md
Due: md

Bump dependencies
  pyproject.toml
  uv.lock
Due: none

Move Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  bin/pkg/new
Due: shellcheck, md

Bump uv
  .devcontainer/Dockerfile
Due: none

Rename to aml-job.yaml
  .package-template/README.md
  .package-template/aml-job.yaml
  .package-template/src/package_template/__main__.py
  README.md
  bin/lint/py
  bin/pipe/new
  bin/pkg/_iso
  bin/pkg/aml
  packages/example-reader-step/README.md
  packages/example-writer-step/README.md
  packages/example/README.md
  packages/example/aml-job.yaml
  packages/example/src/example/__main__.py
Due: shellcheck, python, md

Bump deps and clean templates
  .package-template/README.md
  .package-template/pyproject.toml
  packages/example-reader-step/README.md
  packages/example-reader-step/environment/Dockerfile
  packages/example-reader-step/pyproject.toml
  packages/example-writer-step/README.md
  packages/example-writer-step/environment/Dockerfile
  packages/example-writer-step/pyproject.toml
  packages/example/README.md
  packages/example/aml-job.yaml
  packages/example/environment/Dockerfile
  packages/example/pyproject.toml
  uv.lock
Due: md

Add reference to uv workspaces
  README.md
Due: md

Add bin README
  .pre-commit-config.yaml
  bin/README.md
Due: shellcheck, md

Add table of contents
  README.md
Due: md

Remove duplication of steps pipeline
  .pipeline-template/pipeline-template.yaml
  README.md
  bin/pipe/_iso
  pipelines/example-pipeline.yaml
Due: shellcheck, md

Add experiment to description
  bin/lib/_aml
Due: shellcheck

Remove my cluster
  .pipeline-template/pipeline-template.yaml
  pipelines/example-pipeline.yaml
Due: none

Fix typo in `README.md`
  README.md
Due: md

Add link for pytest
  README.md
Due: md

Update README.md
  README.md
Due: md

Fix typo and dead link in `README.md` (#25)
  README.md
Due: md

Add quickstart section
  README.md
Due: md

Refactor bin/help
  .pre-commit-config.yaml
  bin/help
Due: shellcheck

Revert unrelated rename
  bin/help
Due: shellcheck

fix outdated instructions
  README.md
Due: md

markdown lint
  README.md
Due: md

Fix outdated install link in README (#27)
  README.md
Due: md

Use UV to run experiment
  packages/example/aml-job.yaml
Due: none

Use correct dir to run python
  .package-template/aml-job.yaml
  packages/example/aml-job.yaml
Due: none

Run python in correct dir (#28)
  .package-template/aml-job.yaml
  packages/example/aml-job.yaml
Due: none

Add in example how to write to default outputs
  .gitignore
  .package-template/src/package_template/__main__.py
  packages/example/src/example/__main__.py
Due: python

Remove print in example
  .package-template/src/package_template/__main__.py
  packages/example/src/example/__main__.py
Due: python

Fix broken import
  .package-template/src/package_template/__main__.py
  pyproject.toml
Due: python

Fix md lint in README
  README.md
Due: md

add common issues section
  README.md
  bin/workspace-setup
Due: shellcheck, md

Fix skill frontmatter
  azureml-scaffolding/SKILL.md
Due: md

Path conditions:
  shellcheck: any of: ^.*\.sh|^bin/, but not: ^.*\.yaml|^.env.*
  python: any of: ^.*\.py
  md: any of: \.(md|markdown|mdown)$
